body {
    --color: 191, 191, 191;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: #B70F0A;
    height: calc(var(--vh, 1vh)*100);
    overflow: hidden;
    color: rgb(var(--color));
}
h1{
    text-align: center;
}
.container-log {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    background: black;
    height: 65vh;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}
.container-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    background: black;
    height: 80vh;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}


.der-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    padding: 35px;
    max-width: 400px;
}
.der-login h1 {
    font-weight: normal;
    font-size: 1.8rem;
}
.der-login .die-inputs {
    padding-bottom: 20px;
    width: 100%;
}
.der-login .die-inputs .forget {
    width: 100%;
    text-align: right;
    padding: 5px;
}
.der-login .die-inputs .forget a {
    text-decoration: none;
    color: rgb(var(--color));
    font-size: .9rem;
}
.der-input {
    margin-top: 10px;
}
.der-input input {
    width: 100%;
    padding: 14px 20px;
    border: 0px;
    background: #F1F3F6;
    border-radius: 18px;
    border: 2 px solid rgb(var(--color));
    opacity: .2;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.24);
}
.der-input input:focus {
    opacity: 1;
}
.der-input label{
    display: block;
    padding-left: 8px;    
}
.btn-login {
    background: #cf100a;
    color: #fff;
    border: 0px;
    padding: 14px 20px;
    border-radius: 18px;
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    }
.forget{
    padding-top: 20px;
    text-align: center;
}
a {
    color: #cf100a;
}